<script>
 // Handle modals
 function toggleModal(win) {
     return ((event) => {
         if (event.target.id.startsWith("#open-modal") || 
             event.target.id.startsWith("#close-modal") || 
             event.target.className == "open-modal") {
             event.stopPropagation();
             win.classList.toggle("closed")
         }
     });
 }
 var list = document.getElementsByClassName("open-modal");
 for (let item of list) {
     var id = item.attributes["data-target"].textContent;
		 var modWin = document.getElementById(id);
     var closeButton = document.getElementById(id.replace("open", "close"));

	   item.addEventListener('click', toggleModal(modWin));
     closeButton.addEventListener('click', toggleModal(modWin));
     modWin.addEventListener('click', toggleModal(modWin));
 }
</script>
