<div class="my-4" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="grid grid-cols-list-item items-center gap-2">
        {{ if .Params.Caption }}
        <img itemprop="image" alt="{{ .Params.Caption.Alt }}"
             src="{{ .Params.Caption.Name }}" class="max-w-[90%] max-h-20 w-auto col-span-1">
        <a href="{{ .Permalink }}" itemprop="url" class="my-4 text-black border-none">
            <h3 itemprop="name">{{ .Title }}</h3>
        </a>
        {{ else if .Params.Imgname }}
        <img itemprop="image" alt="{{ .Params.Imgname.Alt }}"
             src="{{ .Params.Imgname.Name }}" class="max-w-[90%] max-h-20 w-auto">
        <a href="{{ .Permalink }}" itemprop="url"
           class="my-4 text-black dark:text-neutral-300 border-none justify-self-start">
            <h3 itemprop="name" class="border-b-2 border-white dark:border-zinc-800
                          dark:hover:border-zinc-300
                          hover:border-zinc-800 border-0">{{ .Title }}</h3>
        </a>
        {{ else }}
        <a href="{{ .Permalink }}" itemprop="url" class="my-4 text-black border-none"
           style="grid-column: 1 / span 2;"><h3 itemprop="name">{{ .Title }}</h3>
        </a>
        {{ end }}
        <span class="text-right text-zinc-800 dark:text-zinc-400 col-start-4"
              itemprop="datePublished"
              content="{{ .PublishDate.Format "2006-01-02T15:04:05Z0700" }}">
        {{ .Date.Format "02/01/2006" }}
        </span>
        <meta itemprop="author" content="{{ .Site.Params.authorName }}">
    </div>
</div>
