{{ partial "header.html" . }}

<main class="content">

  <div itemscope itemtype="http://schema.org/Blog">
    {{if gt (len .Data.Pages) 1}}

    <!-- Navigate pages by the corresponding section -->
    {{ range (where (.Pages.GroupBy "Section") "Key" "!=" "") }}
        {{ with $.Site.GetPage "section" .Key }}
        <h2>{{.Title}}</h2>
        {{ else }}
        <h2>{{ .Key | title }}</h2>
        {{ end }}
        <!-- Navigate pages by date -->
        {{ range (where .Pages "Section" .Key).GroupByDate "2006" }}
        <h3>{{ .Key }}</h3>
            {{ range .Pages }}
                {{ partial "list-item.html" . }}
            {{ end }}
        {{ end }}

    {{ end }}
    {{ end }}

    {{ partial "pagination.html" . }}

  </div>
  <hr>
</main>

{{ partial "footer.html" . }}
