{{ partial "header.html" . }}

<main class="content" role="main">
    <div class="head">
        <div class="picture">
            <img class="main-image" alt="Main picture" src={{ .Params.Imgname }}></img>
        </div>
        <div class="contact-info">
            <div itemscope itemtype="http://schema.org/Person">
                <h1 itemprop="name">{{ .Params.Name }}</h1>
                <h3 itemprop="jobTitle">{{ .Params.Personal_title }}</h3>
                    {{range .Params.Address }}
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">
                        {{ .name }}
                        <br>
                        {{ .street }}
                    </span>
                    <br>
                    <span itemprop="postalCode">{{ .postal_code }}</span>
                    <span itemprop="addressLocality">{{ .locality }}</span>
                    <br>
                    {{ with .email }}
                    <img class="email" alt="email" src="{{ . }}"></img>
                    {{ end }}
                    <br>
                    </div>
                    {{ end }}
            </div>
        </div>
    </div>

    {{ .Content }}

    {{ with .Params.Publications }}
    <h2>Publications</h2>
    {{ end }}
    {{ range .Params.Publications }}
    <div class="pub-wrapper" itemscope itemtype="http://schema.org/ScholarlyArticle">
        <div class="pub-image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
            <img alt="{{ .title }} paper illustration" itemprop="url" src="{{ .image }}"/>
        </div>
        <div class="publication">
            <b><span itemprop="author">{{- .me -}}</span></b>,
            {{ range .authors }}
            <span itemprop="author">{{- . -}}</span>
            {{ end }}
            <br>
            <span itemprop="name">
                <b>{{ .title }}</b>
            </span>
            <br>
            In <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><i itemprop="name">{{- .journal -}}</i></span>, <meta itemprop="datePublished" content="{{- .date -}}">{{- .date -}}.
            <br>
            {{- range .links -}}
            [<a itemprop="mainEntityOfPage" href="{{ .url }}">{{ .name }}</a>]
            {{- end }}
        </div>
    </div>
    {{ end }}

    <hr>
</main>

{{ partial "footer.html" . }}
