{{ partial "header.html" . }}

<main class="content">

  {{if gt (len .Data.Pages) 1}}
  <div class="list">
    <h1>Posts</h1>
     {{ range (.Paginate ((where .Data.Pages "Type" "post").GroupByDate "2006")).PageGroups }}
  <h2 class="list-title">{{ .Key }}</h2>
    {{ range .Pages }}

    {{ partial "list-item.html" . }}

    {{ end }}
    {{ end }}
  </div>
  {{ end }}

  {{ partial "pagination.html" . }}

  <hr>
  <div class="intro list-item">
      <a href="{{ .Site.BaseURL }}/about/">Who am I ?</a>
  </div>

</main>

{{ partial "footer.html" . }}
