{{ partial "header.html" . }}

<main class="content h-card">
    {{ partial "info.html" . }}

    {{ .Content }}

    {{ with .Params.Publications }}
    <h2 id="publications">Publications</h2>
    {{ end }}

    {{ range .Params.Publications }}
    <div class="pub-wrapper" id="{{anchorize .title}}" itemscope itemtype="http://schema.org/ScholarlyArticle">
        <div class="pub-image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
            <img alt="{{ .title }} paper illustration" itemprop="url" src="{{ .image }}" style="width: 100%;"/>
        </div>
        <div class="publication">
            <b><span itemprop="author">{{- .me -}}</span></b>,
            {{ range .authors }}
            <span itemprop="author">{{- . -}}</span>
            {{ end }}
            <br>
            <b><a href="{{ .pdf }}"> <span itemprop="name"> {{ .title }} </span>
                </a></b>
            <meta itemprop="headline" content="{{ .title }}"/>
            <br>
            {{ if .journal }}
            <div>
            In <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><i itemprop="name">{{- .journal -}}</i></span>,{{ end }}
            <meta itemprop="datePublished" content="{{- .date -}}">{{- .date -}}.
            </div>
            {{ with .description }}
            <div itemprop="description" class="pub-description">{{ . }}</div>
            {{ end }}
            <div class="pub-link-wrapper">
                {{ if .citation }}<span class="publication-link"> <a class="open-modal" data-target="#open-modal-{{ .title | urlize }}">Cite</a></span>{{ end }}
            {{- range .links -}}
                <span class="publication-link"><a itemprop="mainEntityOfPage" href="{{ .url }}">{{ .name }}</a></span>
            {{- end }}
            </div>
        </div>
    </div>
    {{ end }}
    <hr>
    {{ range .Params.Publications }}
    {{ if .citation }}
    <div id="#open-modal-{{ .title | urlize}}" class="modal-window">
        <div>
            <a id="#close-modal-{{ .title | urlize}}" title="Close" class="modal-close">✕</a>
            <h3>Cite <i>{{ .title }}</i></h3>
            <button class="modal-copy-citation" id="#copy-{{ substr (sha256 .citation) 0 8 }}">Copy to clipboard</button>
            <pre><code id="{{ substr (sha256 .citation) 0 8 }}">{{ .citation }}</code></pre>
        </div>
    </div>
    {{end}}
    {{end}}
</main>

{{ partial "footer.html" . }}
